n8n/backup/workflows/Backup Tool.json
{
  "name": "Backup Tool",
  "nodes": [
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "fe071aab-19e5-4bf2-ac8e-b93d05d3eca5",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        304,
        -272
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "264768cb-05c9-437c-a298-a267f3d7c4e2",
      "credentials": {
        "githubApi": {
          "id": "R0lTxTh1Q2nmwXKI",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "drgsldr691"
            },
            {
              "name": "repo.name",
              "value": "n8n-backups"
            },
            {
              "name": "repo.path",
              "value": "workflows/"
            }
          ]
        },
        "options": {}
      },
      "id": "41895b44-fb64-48a5-a965-8eec640c0c9f",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        -400,
        -352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "7d5deb95-1306-4e61-bbd3-64f174a2fc07",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -160,
        -352
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "fQ463e8Vc0R895q0",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ce984759-607c-4b9e-bf2d-96f22540c832",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        64,
        -352
      ],
      "executeOnce": false,
      "typeVersion": 3
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "16a9182d-059d-4774-ba95-654fb4293fdb",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "633f5ec4-6a4e-4801-8f99-fc4c807b6166",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        496,
        -272
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "e0c66624-429a-4f1f-bf7b-1cc1b32bad7b",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.content }}",
              "rightValue": "={{ $('Loop Over Items').item.json.toJsonString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "678fd030-8a6f-4d61-9cd4-181ba258bd10",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "position": [
        1376,
        16
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"
      },
      "id": "4c2db8a3-7e5c-419e-9af4-2adaa4675c07",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        1056,
        -304
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
          "mode": "name"
        },
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json",
        "fileContent": "={{ $('Loop Over Items').item.json.toJsonString()  }}",
        "commitMessage": "=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"
      },
      "id": "0189e70e-ef52-4d6c-b3b8-48e5b952dc46",
      "name": "Create new file and commit",
      "type": "n8n-nodes-base.github",
      "position": [
        688,
        -112
      ],
      "typeVersion": 1,
      "webhookId": "73efd8eb-c528-4cc7-8409-a30b9a5c5f43",
      "credentials": {
        "githubApi": {
          "id": "R0lTxTh1Q2nmwXKI",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json",
        "fileContent": "={{ $('Loop Over Items').item.json.toJsonString()  }}",
        "commitMessage": "=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"
      },
      "id": "c929a5f4-e4c2-4092-93d7-f6cb5b6b7f8c",
      "name": "Update file content and commit",
      "type": "n8n-nodes-base.github",
      "position": [
        1744,
        208
      ],
      "typeVersion": 1,
      "webhookId": "173df60a-ced7-4a76-a98f-b2f79daaf2d6",
      "credentials": {
        "githubApi": {
          "id": "R0lTxTh1Q2nmwXKI",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "31d1e991-1d24-478d-8854-e3f7a6c8274a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1136,
        160
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "Workflow changes committed to the repository",
        "height": 80
      },
      "id": "3f889e8d-c15a-4e8c-8f8e-dacf6fbed93e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1904,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Check if there are any changes in the workflow",
        "height": 80
      },
      "id": "bfeef1f4-ad19-4367-a0aa-4d5b183e18f5",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1520,
        16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Create a new file for the workflow",
        "height": 80
      },
      "id": "7916d5aa-7784-4dd1-927b-b82b4848844d",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        -96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Check if file exists in the repository",
        "height": 80
      },
      "id": "fac0f602-e149-4c49-b2ae-1f15cfd1d697",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        496,
        -384
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Convert the file contents to JSON string",
        "height": 80
      },
      "id": "46a21355-0fbb-4d5d-b277-2d9547dd7401",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1008,
        -400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Get all workflows",
        "height": 80
      },
      "id": "5bbedc01-9be5-401b-9450-117f90b130de",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        -464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Set variables",
        "height": 80
      },
      "id": "8b4b941f-dc2a-415d-91ba-60eaafa76a05",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        -224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "command": "npx n8n export:credentials --all --decrypted"
      },
      "id": "10a6c8ae-ed60-4603-98f8-9f668592c8b4",
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        -400,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Function to beautify JSON\nfunction beautifyJson(jsonString) {\n  try {\n    // Parse the JSON string\n    const jsonObject = JSON.parse(jsonString);\n\n    // Format the JSON with indentation\n    return jsonObject; // Return the parsed object directly\n  } catch (error) {\n    // Return the error message if JSON is invalid\n    return `Invalid JSON: ${error.message}`;\n  }\n}\n\n// Retrieve the JSON object from the input data\nconst input = $input.all()[0].json;\n\n// Extract the JSON string from the stdout field\nconst jsonString = input.stdout.match(/\\[{.*}\\]/s);\n\n// Check if a valid JSON string is found\nif (!jsonString) {\n  return {\n    json: {\n      error: \"No valid JSON string found in stdout.\"\n    }\n  };\n}\n\n// Beautify the JSON\nconst beautifiedJson = beautifyJson(jsonString[0]);\n\n// Output the beautified JSON, ensuring each entry is in an object with a 'json' key\nconst output = beautifiedJson.map(entry => ({ json: entry }));\n\n// Return the output\nreturn output;\n"
      },
      "id": "3014ddf5-46bc-4f99-a9ae-35647adf4091",
      "name": "JSON formatting",
      "type": "n8n-nodes-base.code",
      "position": [
        -224,
        544
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{$node[\"Globals1\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals1\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals1\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "b1f13169-0e2a-428e-8225-e650a1eaab46",
      "name": "GitHub1",
      "type": "n8n-nodes-base.github",
      "position": [
        288,
        624
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "264768cb-05c9-437c-a298-a267f3d7c4e2",
      "credentials": {
        "githubApi": {
          "id": "R0lTxTh1Q2nmwXKI",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "drgsldr691"
            },
            {
              "name": "repo.name",
              "value": "n8n-backups"
            },
            {
              "name": "repo.path",
              "value": "credentials/"
            }
          ]
        },
        "options": {}
      },
      "id": "df385d49-c2a6-4a64-bc7c-122a8710f61d",
      "name": "Globals1",
      "type": "n8n-nodes-base.set",
      "position": [
        -656,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "66bff279-73e8-44a3-bc7d-22d60fe638cd",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        48,
        544
      ],
      "executeOnce": false,
      "typeVersion": 3
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "16a9182d-059d-4774-ba95-654fb4293fdb",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "4343f4ac-2200-4804-96d8-238b196b9308",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "position": [
        480,
        624
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "e0c66624-429a-4f1f-bf7b-1cc1b32bad7b",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.content }}",
              "rightValue": "={{ $('Loop Over Items1').item.json.toJsonString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5872f29a-c1fb-47ca-b4bf-3e1c3a0a2697",
      "name": "If3",
      "type": "n8n-nodes-base.if",
      "position": [
        1360,
        912
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"
      },
      "id": "d42a326d-e836-4a10-9031-f9c370cf63a7",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "position": [
        1040,
        592
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "={{$node[\"Globals1\"].json[\"repo\"][\"owner\"]}}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{$node[\"Globals1\"].json[\"repo\"][\"name\"]}}",
          "mode": "name"
        },
        "filePath": "={{$node[\"Globals1\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items1').item.json.name }}.json",
        "fileContent": "={{ $('Loop Over Items1').item.json.toJsonString()  }}",
        "commitMessage": "=[N8N Backup] {{ $('Loop Over Items1').item.json.name }}.json"
      },
      "id": "cc827c0b-3d59-49ea-8c9e-3ed3f41b5263",
      "name": "Create new file and commit1",
      "type": "n8n-nodes-base.github",
      "position": [
        672,
        784
      ],
      "typeVersion": 1,
      "webhookId": "73efd8eb-c528-4cc7-8409-a30b9a5c5f43",
      "credentials": {
        "githubApi": {
          "id": "R0lTxTh1Q2nmwXKI",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "={{$node[\"Globals1\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Globals1\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Globals1\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items1').item.json.name }}.json",
        "fileContent": "={{ $('Loop Over Items1').item.json.toJsonString()  }}",
        "commitMessage": "=[N8N Backup] {{ $('Loop Over Items1').item.json.name }}.json"
      },
      "id": "6117c7de-5006-4da8-80a5-b41ae657595e",
      "name": "Update file content and commit1",
      "type": "n8n-nodes-base.github",
      "position": [
        1728,
        1104
      ],
      "typeVersion": 1,
      "webhookId": "173df60a-ced7-4a76-a98f-b2f79daaf2d6",
      "credentials": {
        "githubApi": {
          "id": "R0lTxTh1Q2nmwXKI",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "content": "Workflow changes committed to the repository",
        "height": 80
      },
      "id": "011a0203-9105-4ab9-9ddc-08e4b4c36a66",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1888,
        1120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Check if there are any changes in the workflow",
        "height": 80
      },
      "id": "90d3f998-e7cf-4900-9af0-801fe502ad5f",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1504,
        912
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Create a new file for the workflow",
        "height": 80
      },
      "id": "3948ccb8-fd58-42fd-92ed-c178cdda6c8f",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        784,
        800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Check if file exists in the repository",
        "height": 80
      },
      "id": "a73f9c26-6887-4892-ab55-ad22ff95370e",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        512
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Convert the file contents to JSON string",
        "height": 80
      },
      "id": "279fa6f3-9124-4b77-9c82-1da6dcbc5b2e",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        992,
        496
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Get all credentials",
        "height": 80
      },
      "id": "4a1d51b6-1ce9-4ad0-801b-a46df96082cb",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Set variables",
        "height": 80
      },
      "id": "afa4f5ed-16f2-41b0-8b3f-ffc5557702cc",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -736,
        672
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create new file and commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Update file content and commit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          },
          {
            "node": "Globals1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new file and commit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update file content and commit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "JSON formatting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON formatting": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals1": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "GitHub1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create new file and commit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Update file content and commit1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new file and commit1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update file content and commit1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "eae42fdb-496e-4e03-8c6e-e22d408b8061",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "28f6daa761b86ce20ee29f848a5407f3c1e49e1e82b9b173e64be4c19463438f"
  },
  "id": "AacPOJL3pQMGugAI",
  "tags": []
}